* {
    background-color: #c6f1d5;
}

body {
padding: 40px;
margin: 10px;
background-color: #f4f4f4;
border: 1px solid #ccc;
border-radius: 40px;
font-family: Roboto, sans-serif;
line-height: 30px;
}
h1 {
background-color: #c985a5;
font-family: "Stack Sans Notch", sans-serif;
font-size: 100px;
color: #e8eceb;
padding: 60px;
margin: 35px;
width: 1000px;
height:auto;
border-image: url("img\ for\ border2.jpg") 30 10 10 10 fill;
box-shadow: 30px 30px 30px #0b638f, -30px -30px 30px #e0ebe7;
}

h2 {
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
color: #164e74;
}

.war-video {
margin-left: 400px;
}

p {
text-indent: 20px;
padding: 10px;
}

#pak-sold-detail {

font-family: "Pacifico", cursive;
font-size: 30px;
font-weight: 400;
font-style: inherit;
color: #0d740d

}

.pak-army::first-line {
background-color:#bbbeac;
margin-left: 200;
margin-right: 200;
}
span {
margin: 800px;
}

img {
float: right;
border: 4px solid #0b521a;
border-radius: 4px;
padding: 5px;
width: 200px;
}

img:hover {
  box-shadow: 0 0 20px 10px rgba(45, 183, 230, 0.5);
  
}

ul.role1 {
text-transform: capitalize;
}

ol.role2{
text-transform: capitalize;
}

h2+p::first-letter {
color: #435663;
font-size: 30px
}

::selection {
background-color: rgb(222, 135, 189);
color: rgb(50, 5, 122);
}
.quotation {
font-family: Arial, Helvetica, sans-serif;
background-color: rgb(6, 63, 32);
color: #bbf58c;
font-weight: bolder;
font-size: 18px;
margin: 100px;
}
div .ft {
    border: solid gray;
    border-width: 4px;
    box-shadow: 30px 30px 30px #0b638f, -30px -30px 30px #e0ebe7;
}
address {
text-align: center;    
}

i~b:hover {
    color: #c985a5;
}
i+b {
      background-color: blue;
      color: white;
      padding: 10px 20px;
      border: none;
      cursor: pointer;
    }